bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/refactorthis
/RefactorThis.Domain/.vs
/RefactorThis.Domain.Tests/.vs/RefactorThis.Domain.Tests.csproj.dtbcache.json
/RefactorThis.Domain.Tests/app.config
